LOG_LEVEL=INFO
LOG_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YYYYYYYY/ZZZZZZZZ
LOG_DISCORD_WEBHOOK_LEVEL=WARNING
REDDIT_USERNAME=WWWWWWWW
REDDIT_PASSWORD=XXXXXXXX
REDDIT_CLIENT_ID=YYYYYYYYYYYYYYYY
REDDIT_CLIENT_SECRET=ZZZZZZZZZZZZZZZZ
